{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/book.css' %}">

    <title>Book</title>
</head>
<div>
    <div id="container1" class="container">
        <div id="row1" class="row">
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/">Status<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/about">About<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/book-finding">Books<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/loginpage/login">Login<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <button type="button" style="padding-top: 7px;" id='button2' class="button2">Theme</button>
            </div>
        </div>
    </div>
</div>

<body>
    <div class="container">
        <div id="row2" class="row">
            <div class="col-md-0">
                <form class="form-inline">
                    <input class="form-control mr-3 w-40, form1" id="search" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
            <div class="col-md-0">
                <button class="search btn, btn" type="submit"><i class="fa fa-search">Search</i></button>
            </div>
        </div>

        <table class="table table-borderless" style="margin-top:2rem">
            <thead id="header" class="table-light text-center">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                    <th scope="col">Cover</th>
                </tr>
            </thead>
            <tbody class="text-center" id="book">
            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/book.js' %}"></script>
</body>

</html>