<!doctype html> {% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/landingpage.js' %}"></script>
    <title>CindyEvik</title>
</head>

<div>
    <div id="container1" class="container">
        <div id="row1" class="row">
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/">Status<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a id='about' class="nav-item nav-link active, text2" href="/about">About<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/book-finding">Books<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/loginpage/login">Login<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <button type="button" style="padding-top: 7px;" id="button1" class="button1">Theme</button>
            </div>
        </div>
    </div>
</div>


<body id="body1">
    <center>
        <p id="welcome_text" class="tes">Halo, apa kabar?</p>
        <br>

        <form style="width:80%;" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{form.status}}
            </div>
            <br>
            <button id='button2' type="submit">Submit</button>
        </form>
    </center>
    <br> {% for object in obj reversed %}
    <div class="container">
        <div>
            <div class="d-flex flex-wrap cont, alert alert-secondary, output_text" role="alert">
                <p>{{ object.status }} - {{ object.dates }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>