#image1 {
    height: 70%;
    width: auto;
    padding-top: 100px;
    padding-left: 200px;
}

#body2 {
    background-color: #FFEFD5;
}

#text1 {
    font-size: 4vw;
    color: #8FBC8F;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 30px;
    background: #FA8072;
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
}

#desc {
    padding: 5px;
    margin-top: 200px;
}

#row1 {
    background: #8FBC8F;
    padding: 0;
    margin: 0;
}

#container1 {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.text2 {
    color: #FFEFD5;
}

.container {
    margin: 15px;
    max-width: 95%;
    padding-right: 10px;
    margin-right: 20px;
}

.accordion {
    background-color: rgb(120, 172, 120);
    color: #FFEFD5;
    cursor: pointer;
    padding: 1.7vw;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5vw;
    transition: 0.4s;
    margin-top: 10px;
}

.accordion:hover {
    background-color: rgb(120, 172, 120);
}

.panel {
    padding: 0 20px;
    display: none;
    background-color: rgba(143, 188, 143, 0.486);
    overflow: hidden;
    font-size: 20px;
    color: #FFEFD5;
    line-height: 30px;
}

.button2 {
    color: #FFEFD5;
    background-color: #8FBC8F;
    border: none;
    display: inline-block;
    text-decoration: none;
}