body {
    background-color: #FFEFD5;
}

.container {
    max-width: 100%;
    margin: 0;
}

.btn {
    background-color: #8FBC8F;
    color: #FFEFD5;
    border: none;
    display: inline-block;
    text-decoration: none;
}

.form-inline {
    padding-left: 1vw;
}

#row1 {
    background-color: #8FBC8F;
}

#row2 {
    padding-top: 2vw;
}

.button2 {
    color: #FFEFD5;
    background-color: #8FBC8F;
    border: none;
    display: inline-block;
    text-decoration: none;
}

.text2 {
    color: #FFEFD5;
}

#header {
    background-color: #8FBC8F;
    border: none;
    color: #FFEFD5;
}