#body1 {
    background-color: #8FBC8F;
}

#welcome_text {
    color: #FFEFD5;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    background: #FA8072;
}

#row1 {
    background: #FFEFD5;
    padding: 0;
    margin: 0;
}

#container1 {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.text2 {
    color: #8FBC8F;
}

.output_text {
    background-color: #FFEFD5;
    border-color: #FFEFD5;
    margin-left: 30px;
    margin-right: 30px;
}

button {
    color: #8FBC8F;
    background-color: #FFEFD5;
    display: inline-block;
    border: none;
    text-decoration: none;
}