<!doctype html> {% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/landingpage.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>Login</title>
</head>

<div>
    <div id="container1" class="container">
        <div id="row1" class="row">
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/">Status<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a id='about' class="nav-item nav-link active, text2" href="/about">About<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/book-finding">Books<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/loginpage">Login<span class="sr-only">(current)</span></a>
            </div>
        </div>
    </div>
</div>


<body style="background-color:  #8FBC8F">
    <br>
    <p style="font-size: 50px; font-family: Verdana, Geneva, Tahoma, sans-serif; color:  #FFEFD5; text-align: center">Please login to get a better experience</p>
    <form method="POST" style="margin: 200px;">
        {% csrf_token %}
        <div>
            <label style="color: #FFEFD5">Username</label>
            <input class="form-control" type="text" name="username">
        </div>
        <div>
            <br>
            <label style="color: #FFEFD5">Password</label>
            <input class="form-control" type="password" name="password">
        </div>
        <br>
        <div>
            <button type="submit" style="color:#8FBC8F; background-color: #FFEFD5 ">Submit</button>
        </div>

    </form>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>