{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

    <title>About</title>
</head>
<div>
    <div id="container1" class="container">
        <div id="row1" class="row">
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/">Status<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/about">About<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/book-finding">Books<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <a class="nav-item nav-link active, text2" href="/loginpage/login">Login<span class="sr-only">(current)</span></a>
            </div>
            <div class="col-md-0">
                <button type="button" style="padding-top: 7px;" id='button2' class="button2">Theme</button>
            </div>
        </div>
    </div>
</div>

<body id="body2">
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <p id="text1">About MySelf</p>
                <img id="image1" src="{% static 'images/icon2.png' %}">
            </div>
            <div id="desc" class="col-md-5">
                <button class="accordion">Education</button>
                <div class="panel">
                    <p>
                        <br> SMPN 1 Bukittinggi (2012 - 2015)
                        <br>SMAN 1 Bukittinggi (2015-2018)
                        <br>Universitas Indonesia (2018 - now)
                    </p>
                </div>
                <button class="accordion">Experiences</button>
                <div class="panel">
                    <p>
                        <br> Vice PIC of Liaison Officer, Wisuda Genap 2019
                        <br> Vice PIC of Public Relations, BETIS 2020
                    </p>
                </div>

                <button class="accordion">Skills</button>
                <div class="panel">
                    <p><br> tbc</p>
                </div>
            </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{% static 'js/about.js' %}"></script>
</body>

</html>